/*Left Side*/

html,
body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(320deg, rgb(10, 96, 216) 0%, rgb(81, 214, 254) 100%);
    overflow: hidden;
}

head {
    background: transparent;
}

@keyframes scaleZ {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    80% {
        transform: scale(1.07);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

#upload {
    position: absolute;
    width: 60px;
    height: fit-content;
    padding: 10px 10px;
    border-radius: 10px;
    text-align: center;
    /*background-color: lightblue;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);*/
    bottom: 88%;
    left: 1%;
    outline: none;
    z-index: 1;
    animation: scaleZ 300ms ease-in-out forwards
}


/* Style the buttons */

.bi-image-fill {
    padding: 0;
    font-size: 2.5rem;
    color: white;
}

.bi-music-note {
    padding: 0;
    font-size: 3rem;
    color: white;
}

.bi-camera-reels-fill {
    padding: 0;
    text-align: center;
    font-size: 2.25rem;
    color: white;
}

.bi-file-earmark {
    color: white;
    font-size: 2.55rem;
}

#upload>p>button {
    border: none;
    width: 3.5em;
    height: 3.5em;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

#upload>p>button:active {
    outline: 0;
}

#upload>p>button:focus {
    outline: 0;
}

.custom-picfile {
    border: none;
    border-radius: 50%;
    border-radius: 50%;
    border: none;
    width: 2.5em;
    height: 2.5em;
    background-color: blueviolet;
}

.custom-vidfile {
    border: none;
    border-radius: 50%;
    border-radius: 50%;
    border: none;
    width: 2.5em;
    height: 2.5em;
    background-color: #2D8CFF;
}

.custom-audfile {
    background-color: #fb435c;
}

.custom-file {
    background-color: lightslategrey;
}

.btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
}


/* Style the active class, and buttons on mouse-over */

.leftside {
    position: absolute;
    top: 2%;
    left: 1%;
    width: 22.5%;
    height: 96%;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    background-color: white;
    border-radius: 10px;
}

.bi-controller,
.bi-film,
.bi-music-note-list,
.bi-plug,
.bi-palette,
.bi-camera-reels,
.bi-archive,
.bi-cpu-fill,
.bi-hammer,
.bi-bag,
.bi-phone-landscape {
    font-size: 3.8rem;
}

.search {
    position: relative;
    left: 3%;
    height: 10%;
    width: 94%;
    background-color: white;
    border-bottom: 2px solid rgb(228, 228, 228);
}

#filter {
    position: absolute;
    top: 20%;
    left: 5%;
    height: 60%;
    width: 90%;
    border: none;
    outline: none;
}

.chat_box {
    position: relative;
    height: 89%;
    width: 100%;
    background-image: linear-gradient(to bottom, white, white);
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 0 0 10px 10px;
}

.chat_box>div {
    position: relative;
    margin-top: 2%;
    margin-bottom: 0%;
    padding: 0%;
    left: 3%;
    height: 80px;
    width: 94%;
    background-color: white;
    word-wrap: break-word;
    transition: left 0.5s, width 0.5s;
    /*border-radius: 7.5px;*/
}

.chat_box>div:hover {
    background-image: linear-gradient(to bottom, #3f00c7, #024ab8);
    color: white;
    border-radius: 7.5px;
    left: 1%;
    width: 98%;
}

.active {
    background-image: linear-gradient(to bottom, #3f00c7, #024ab8);
    opacity: 1;
    color: white;
    border-radius: 7.5px;
    left: 1%;
    width: 98%;
}

 ::-webkit-scrollbar {
    width: 1px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(to bottom, #3f00c7, #024ab8);
}


/*.chat_box > div:hover {
    filter: brightness(80%);
}*/

.profile_pic {
    position: absolute;
    height: 100%;
    left: 20px;
    top: 12.5px;
    width: 22.5%;
}

.profile_pic>img {
    width: 65px;
    height: 65px;
}

.profile_pic>i>p {
    height: 2px;
    font-size: 1px;
    visibility: collapse;
}

.topic1_name {
    font-family: Heebo, sans-serif;
    font-weight: 600;
    position: absolute;
    left: 75px;
    top: 52%;
    width: 50%;
    transform: translateY(-50%);
    font-size: 1.15em;
    word-wrap: break-word;
}

.messageCount {
    position: absolute;
    right: 20px;
    top: 37.5%;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-image: linear-gradient(320deg, rgb(10, 96, 216) 0%, rgb(81, 214, 254) 100%);
    color: white;
    text-align: center;
    font-size: 0.85em;
}

.messageCount>p {
    width: 100%;
}


/*
.arrow {
    width: 6.5%;
    height: 100%;
    position: absolute;
    right: 0%;
    background-color: white;
    border-radius: 0 12px 12px 0;
}


.menu {
    position: relative;
    height: 8%;
    width: 100%;
    display: flex;
    background-color: white;
    border-top: 2px solid rgb(220, 220, 220);
}*/


/*Right Side*/

.rightside {
    position: absolute;
    top: 2%;
    right: 6%;
    width: 69.5%;
    height: 96%;
    /*background-color: rgb(75, 64, 64);*/
    border-radius: 10px;
}

.rightside>button:active {
    transform: scale(0.98);
}

#myImg {
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}

.modal {
    display: none;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100vh;
    overflow: auto;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.7);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    background: transparent;
    padding: 10px;
    display: block;
    max-height: 90vh;
    width: 70vw;
    object-fit: contain;
    box-shadow: none;
    border: none;
}


/* Add Animation*/

.modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

.video-content {
    display: none;
    width: 70vw;
    max-height: 90vh;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}


/* The Close Button*/

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 60px;
    border: none;
    text-shadow: none;
    font-weight: 100;
    transition: 0.3s;
    opacity: 0.7;
}

.close:hover,
.close:focus {
    color: gray;
    text-decoration: none;
    cursor: pointer;
}

.topic1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 10px;
}


/*
    .gaming>video {
        position: fixed;
        top: 0%;
        right: 0%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
    }

    .music {
        background-image: url('Images/288-2882860_music-background-minimalist.jpg');
        background-size: cover;
    }

    .movies {
        background-image: url('Images/ms-content.jpg');
        background-size: cover;
    }

    .technology>video {
        position: fixed;
        top: 0%;
        right: 0%;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
    }

    .others {
        background-image: url('Images/Miscelleneous.jpeg');
        background-size: cover;
    }
    */

.MainPageInstructions {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}

.MainPageInstructions>img {
    position: absolute;
    width: 80%;
    top: 5%;
    left: 10%;
}

.header {
    position: relative;
    height: 8%;
    width: 100%;
    left: 0%;
    background-color: rgb(230, 230, 230);
    text-align: center;
    font-family: Heebo, sans-serif;
    font-weight: 600;
    vertical-align: middle;
    border-radius: 10px 10px 0 0;
}

.header>p {
    font-size: 2.25rem;
    position: relative;
    margin-bottom: 0;
    top: 50%;
    transform: translateY(-50%);
    /*height: 60%;*/
    color: black;
}

.g-content,
.m-content,
.a-content,
.ac-content,
.ms-content,
.v-content,
.o-content,
.tech-content,
.diy-crafts-content,
.fashion-content,
.apps-websites-content {
    /*position: relative;*/
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-size: contain;
    background-position: center;
    overflow-y: auto;
    background-color: transparent;
}


/*
    .g-content {
        background-image: linear-gradient(to bottom right, black, black);
    }

    .ms-content {
        background-image: linear-gradient(to bottom right, black, black);
    }

    .m-content {
        background-image: linear-gradient(to bottom right, black, black);
    }

    .a-content {
        background-image: linear-gradient(to bottom right, black, black);
    }

    .ac-content {
        background-image: linear-gradient(to bottom right, black, black);
    }

    .v-content {
        background-image: linear-gradient(to bottom right, black, black);
    }

    .o-content {
        background-image: linear-gradient(to bottom right, black, black);
    }
    */

#g-volumeBar,
#ms-volumeBar,
#m-volumeBar,
#a-volumeBar,
#ac-volumeBar,
#v-volumeBar,
#o-volumeBar,
#tech-volumeBar,
#diy-crafts-volumeBar {
    width: 5%;
    height: 300%;
    border: 3px solid rgb(230, 230, 230);
    border-radius: 150px;
    position: absolute;
    bottom: 125%;
    right: 12%;
    padding: 2%;
    transform: rotate(180deg);
    visibility: hidden;
}


/*
    #g-voiceVolume,
    #ms-volumeBar,
    #m-volumeBar,
    #a-volumeBar,
    #ac-volumeBar,
    #v-volumeBar,
    #o-volumeBar,
    #tech-volumeBar,
    #diy-crafts-volumeBar {
        position: absolute;
        left: 45%;
        width: 10%;
        height: 0%;
        background: green;
    }
    */

.backendChat {
    position: relative;
    left: 1.5%;
    width: fit-content;
    max-width: 55%;
    margin-top: 5px;
    height: auto;
    background-image: linear-gradient(320deg, rgb(10, 96, 216) 0%, rgb(81, 214, 254) 100%);
    color: white;
    border-radius: 10px 10px 10px 10px;
}

.backendChat>p {
    padding: 20px;
    font-size: 1.7rem;
    margin: 0;
    font-weight: bold;
    word-wrap: break-word;
}

.userMessage {
    /*left: 43%;*/
    position: relative;
    /*top: 2%;*/
    align-self: flex-end;
    right: 1.5%;
    margin-top: 10px;
    margin-bottom: 5px;
    width: fit-content;
    /*min-width: 10%;*/
    max-width: 60%;
    height: auto;
    background-image: linear-gradient(to bottom right, #7400b8, #4ea8de);
    color: white;
    border-radius: 10px 10px 10px 10px;
}

.userMessage>p {
    padding: 20px;
    font-size: 1.7rem;
    margin: 0;
    font-weight: bold;
    word-wrap: break-word;
}

.userMessage>p>a {
    font-size: 1rem;
    font-weight: 900;
    color: black;
}

audio {
    outline: none;
}

.imgDiv {
    /*position: relative;*/
    /*left: 43%;*/
    position: relative;
    align-self: flex-end;
    right: 2%;
    /*margin-top: 2%;*/
    width: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
    /*min-width: 10%;*/
    max-width: 30%;
    height: auto;
    background-color: #22cf9b;
    color: white;
    border-radius: 15px;
}

.imgDiv>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.imgDiv>img:hover {
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
}

.docDiv {
    /*position: relative;*/
    /*left: 43%;*/
    position: relative;
    align-self: flex-end;
    display: flex;
    right: 2%;
    /*margin-top: 2%;*/
    width: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
    /*min-width: 10%;*/
    max-width: 60%;
    height: auto;
    background-color: #22cf9b;
    color: white;
    border-radius: 15px;
}

.docDiv>div>.filename {
    padding-top: 15px;
    padding-right: 15px;
    position: relative;
    margin-bottom: 0;
    align-self: flex-start;
    font-size: 1.15em;
    /*word-wrap: break-word;*/
    max-width: 40vw;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 600;
    color: black;
    text-overflow: ellipsis;
}

.docDiv>div>.filesize {
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 0;
    align-self: baseline;
    font-size: 0.9em;
    color: lightgray;
    word-wrap: break-word;
}

.docDiv>.bi-file-earmark-text {
    font-size: 3.5rem;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.vidDiv {
    position: relative;
    align-self: flex-end;
    display: block;
    right: 2%;
    /*margin-top: 2%;*/
    width: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
    /*min-width: 10%;*/
    max-width: 60%;
    height: auto;
    background-color: #22cf9b;
    color: white;
    border-radius: 15px;
}

.vidDiv>.vidname {
    padding: 0 15px 15px 15px;
    margin: 0;
    color: rgb(10, 10, 10);
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 33vw;
}

.vidDiv>.vidheader:hover {
    cursor: pointer;
}

.vidheader {
    display: flex;
    justify-content: space-between;
    width: 100px;
    height: 40px;
    margin: 10px;
    align-items: center;
    background-color: white;
    border-radius: 125px;
}

.vidheader>p {
    position: absolute;
    padding: 10px;
    color: royalblue;
    left: 36px;
    margin: 0;
}

.bi-play-circle-fill {
    color: royalblue;
    font-size: 2rem;
    padding: 10px;
}

.recDiv {
    position: relative;
    /*top: 2%;*/
    align-self: flex-end;
    right: 2%;
    /*padding-top: 40px;*/
    margin-top: 10px;
    margin-bottom: 5px;
    width: fit-content;
    /*min-width: 10%;*/
    max-width: 60%;
    height: auto;
    background-image: linear-gradient(to bottom right, #fb5269, #fa2e49);
    color: white;
    border-radius: 10px;
}

.audDiv {
    position: relative;
    /*top: 2%;*/
    align-self: flex-end;
    right: 2%;
    /*padding-top: 40px;*/
    margin-top: 10px;
    margin-bottom: 5px;
    width: fit-content;
    /*min-width: 10%;*/
    max-width: 60%;
    height: auto;
    background-image: linear-gradient(to bottom right, #fb5269, #fa2e49);
    color: white;
    border-radius: 10px;
}

.recDiv>video {
    width: 95%;
}

.recDiv>.green-audio-player>.controls>.controls__total-time {
    display: none;
}

.inputbar {
    position: absolute;
    bottom: 0%;
    height: 10%;
    width: 100%;
    background: transparent;
    z-index: 10;
}

.attach {
    position: absolute;
    bottom: 25%;
    padding: 5px;
    z-index: 1;
    width: 40px;
    transition: background-color color 400ms;
    border-radius: 50%;
    outline: none;
    margin: 0;
    left: 2.5%;
    border: none;
    background-color: transparent;
    color: #FEBE10;
    /*box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);*/
}

.attach:hover {
    background-color: rgba(225, 20, 64, 0.158);
    color: crimson;
    outline: 0;
}

.attach:focus {
    outline: 0;
}

.attach:active {
    color: crimson;
    outline: 0;
}

.record {
    position: absolute;
    bottom: 25%;
    padding: 5px;
    z-index: 1;
    width: 40px;
    transition: background-color color 400ms;
    border-radius: 50%;
    outline: none;
    margin: 0;
    right: 8.5%;
    border: none;
    background-color: transparent;
    color: #FEBE10;
}

.record:hover {
    background-color: rgba(225, 20, 64, 0.158);
    color: crimson;
    outline: 0;
}

.record:focus {
    outline: 0;
}

.record:active {
    color: crimson;
    outline: 0;
}

.stopRecord {
    position: absolute;
    bottom: 25%;
    padding: 5px;
    z-index: 1;
    width: 40px;
    transition: background-color color 400ms;
    border-radius: 50%;
    outline: none;
    margin: 0;
    right: 8.5%;
    border: none;
    background-color: transparent;
    visibility: hidden;
    color: crimson;
    /*box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);*/
}

.stopRecord:hover {
    background-color: rgba(225, 20, 64, 0.158);
    color: crimson;
    outline: 0;
}

.stopRecord:focus {
    outline: 0;
}

.stopRecord:active {
    color: crimson;
    outline: 0;
}


/*
@keyframes example {
    {
        color: blue;
    }
}
*/

.send {
    position: absolute;
    padding: 5px;
    bottom: 25%;
    z-index: 1;
    width: 40px;
    transition: background-color color 400ms;
    border-radius: 50%;
    outline: none;
    margin: 0;
    right: 2.5%;
    border: none;
    color: #FEBE10;
    background-color: transparent;
}

.send:hover {
    background-color: rgba(225, 20, 64, 0.158);
    color: crimson;
    outline: 0;
}

.send:focus {
    outline: 0;
}

.send:active {
    color: crimson;
    outline: 0;
}

.typing-indicator {
    position: relative;
    top: 1%;
    left: 3%;
    background-color: #F5F5F5;
    will-change: transform;
    width: 95px;
    border-radius: 50px;
    padding: 20px;
    display: table;
    margin: 0;
    animation: 2s pulse infinite ease-out;
}

.typing-indicator::before,
.typing-indicator::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: -2px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #F5F5F5;
}

.typing-indicator::after {
    height: 10px;
    width: 10px;
    left: -10px;
    bottom: -10px;
}

.typing-indicator>span {
    height: 15px;
    width: 15px;
    float: left;
    margin: 0 1px;
    background-color: #9E9EA1;
    display: block;
    border-radius: 50%;
    opacity: 0.4;
}

.typing-indicator span:nth-child(1) {
    animation: 1s blink infinite .3333s;
}

.typing-indicator span:nth-child(2) {
    animation: 1s blink infinite .6666s;
}

.typing-indicator span:nth-child(3) {
    animation: 1s blink infinite .9999s;
}

@keyframes blink {
    50% {
        opacity: 1;
    }
}

@keyframes pulse {
    50% {
        transform: scale(1.05);
    }
}


/* The element to apply the animation to
div {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
}*/


/*
.inputbar>#send {
    height: auto;
    border-color: #02552848;
    border-radius: 10px;
}*/


/* Total Left */

.leftsidebar {
    position: absolute;
    right: 1%;
    top: 2%;
    width: 4%;
    height: 96%;
    background-color: white;
    opacity: 1;
    overflow: hidden;
    align-items: center;
    border-radius: 10px;
}

.bi-chat-quote-fill,
.bi-info-circle-fill,
.bi-gear-fill {
    font-size: 2rem;
    margin-left: auto;
    margin-right: auto;
    color: lightgrey;
    z-index: 1;
    opacity: 0;
}

.bi-chat-quote,
.bi-info-circle,
.bi-gear {
    font-size: 2rem;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    color: lightgrey;
    z-index: 2;
    position: absolute;
}

.bi-chat-quote:hover~.bi-chat-quote-fill {
    opacity: 1;
    cursor: pointer;
}

.bi-info-circle:hover~.bi-info-circle-fill {
    opacity: 1;
    cursor: pointer;
}

.bi-gear:hover~.bi-gear-fill {
    opacity: 1;
    cursor: pointer;
}

.icon:active {
    color: white;
    background-color: #a6d86e;
    border-right: 2px solid red;
}

.info-button {
    position: absolute;
    top: 1%;
    left: 5%;
    width: 90%;
    height: 5%;
    padding: 5px;
}

.app-store {
    position: absolute;
    bottom: 12%;
    left: 0%;
    width: 100%;
    height: 5%;
    padding: 5px;
}

.play-store {
    position: absolute;
    bottom: 4%;
    left: 0%;
    width: 100%;
    height: 5%;
    padding: 5px;
}

.app-store>img,
.play-store>img,
.info-button>img {
    position: absolute;
    left: 10%;
    width: 80%;
}

.app-store-phone,
.play-store-phone {
    position: absolute;
    right: 6%;
    bottom: 0%;
    width: fit-content;
    height: 100%;
    z-index: 100;
    visibility: hidden;
}

.app-store-phone>img,
.play-store-phone>img {
    position: absolute;
    right: 0%;
    height: 100%;
}


/*
    .app-store-qr,
    .play-store-qr {
        position: absolute;
        right: 0;
        width: 38.5%;
        height: 100%;
        background-color: #f1f1f1;
        border-radius: 50px 0 0 50px;
    }
    
    .app-store-qr>img,
    .play-store-qr>img {
        position: absolute;
        width: 100%;
    }
    */


/* Total Right */


/*.totalRight {
        position: absolute;
        right: 0%;
        width: 3.5%;
        height: 100%;
        background-image: linear-gradient(to bottom, #3f00c7, #024ab8);
        opacity: 0.9;
    }*/


/*
#input-form {
        position: relative;
        height: 20px;
    }*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    line-height: 1.5;
}

* {
    margin: 0;
    padding: 0;
}


/* Cool scrollbar */

 ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    display: block
}

 ::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 8px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: rgb(196, 201, 211)
}


/* Center stuff and background */

.container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 20%;
    left: 6.5%;
}

h1 {
    color: white;
}


/** This is the css of the input **/

#w-input-container {
    width: 100%;
    min-height: 10%;
    box-sizing: border-box;
    padding: 9px 18px 11px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 21px;
}

.w-input-text-group {
    position: relative;
}

.w-placeholder {
    color: #a0a0a0;
    top: 0;
    pointer-events: none;
    user-select: none;
    position: absolute;
    opacity: 0;
    transition: 0.2s padding ease-in-out;
}

#w-input-text {
    overflow-x: hidden;
    overflow-y: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    z-index: 1;
    max-height: 80px;
    min-height: 20px;
    padding: 0 0 0 2px;
    outline: 0;
    transition: 0.2s padding ease-in-out;
}

#w-input-text:empty+.w-placeholder {
    opacity: 1;
}


/*#w-input-text:focus+.w-placeholder {
        padding: 0 6px 0px;
    }

    #w-input-text:focus {
        padding: 0 6px 0px;
    }*/

@media all and (max-width: 950px) {
    /*.inputbar>textarea {
            position: absolute;
            resize: none;
            height: 90%;
            width: 78%;
            border: none;
            padding: 14px;
            border-radius: 10px;
            overflow: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        outline: none;
        word-wrap: break-word;
        white-space: pre-wrap;
    }

    .send {
        position: absolute;
        display: none;
        height: 5%;
        width: 3.5%;
        padding: 0px;
        /*transition: background-color color 400ms;
        border-radius: 50%;
        outline: none;
        top: 31.5%;
        right: 2.5%;
        border: none;
        background-color: transparent;
        /*box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
    }
    /*.attach {
        position: absolute;
        height: 5%;
        width: 28px;
        padding: 0px;
        /*transition: background-color color 400ms;
        border-radius: 50%;
        outline: none;
        top: 31.5%;
        left: 3.50%;
        border: none;
        background-color: transparent;
        /*box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
    }
    .record {
        position: absolute;
        /*height: 5%;
        width: 3.5%;
        padding: 0px;
        transition: background-color color 400ms;
        border-radius: 50%;
        outline: none;
        top: 31.5%;
        right: 2.5%;
        border: none;
        background-color: transparent;
        /*box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
    }*/
}

@media all and (max-width:780px) {
    .topic1_name {
        font-family: Heebo, sans-serif;
        font-weight: 600;
        position: absolute;
        left: 75px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1em;
        word-wrap: break-word;
    }
}

@media only screen and (max-device-width: 480px) {
    html,
    body {
        background: black;
        overflow: hidden;
    }
    .leftsidebar {
        top: 1.5%;
        left: 3%;
        height: 8%;
        width: 94%;
        border-radius: 7.5px;
    }
    .info-button {
        position: absolute;
        padding: 0%;
        left: 2.5%;
        width: 15%;
        height: 100%;
        top: 15%;
    }
    .app-store {
        position: absolute;
        padding: 0%;
        left: 82.5%;
        width: 15%;
        height: 100%;
        top: 15%;
    }
    .play-store {
        position: absolute;
        padding: 0%;
        left: 68.5%;
        width: 15%;
        height: 100%;
        top: 15%;
    }
    .leftside {
        top: 10%;
        left: 3%;
        width: 94%;
        height: 88.5%;
        z-index: 100;
        border-radius: px;
    }
    .rightside {
        top: 1.5%;
        left: 3%;
        width: 94%;
        height: 97%;
        z-index: 50;
        border-radius: 8px;
    }
    .MainPageInstructions {
        visibility: collapse;
    }
}